@charset "utf-8";
/* CSS Document */

* {
	font-family: Consolas, "Andale Mono", "Lucida Console", "Lucida Sans Typewriter", Monaco, "Courier New", "monospace";
}



.banner {
	background-color: #065f46;
	color: #ecfdf5;
	text-align: center;
	font-size: 35px;
}
		
.menu_bar {
	background-color: #059669;
	font-weight: bold;
	text-align: center;
	font-size: 25px;
}
		
.menu_bar a:link {
	text-decoration: none;
	color: #d1fae5;
}

.content {
	font-size: 20px;
}

.content-head {
	font-size: 20px;
}